
body{
background:#0f1115;
color:white;
font-family:Arial;
}

.container{
width:90%;
margin:auto;
}

.heatmap{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.sector{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
margin-bottom:20px;
}

.green{
background:#1faa59;
padding:20px;
text-align:center;
border-radius:8px;
}

.red{
background:#d64545;
padding:20px;
text-align:center;
border-radius:8px;
}

.lists{
display:flex;
gap:50px;
margin-top:30px;
}
